name: Build Kivy APK

on: [push, workflow_dispatch]  # Запускается при push или вручную

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Install system dependencies
        run: |
          sudo apt update
          sudo apt install -y git zip unzip openjdk-17-jdk python3-dev libjpeg-dev zlib1g-dev libpng-dev libgif-dev libltdl-dev libssl-dev libffi-dev autoconf libtool pkg-config libncurses5-dev libncursesw5-dev libtinfo5 cmake ccache
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install kivy buildozer cython==0.29.36
      - name: Cache Buildozer
        uses: actions/cache@v4
        with:
          path: .buildozer
          key:   $$ {{ runner.os }}-buildozer- $${{ hashFiles('buildozer.spec') }}
      - name: Build APK
        run: buildozer -v android debug
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: apk
          path: bin/*.apk
